.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.modal__content {
  position: relative;
  background-color: white;
  max-width: 396px;
  width: 100%;
  border-radius: 10px;
  padding: 20px 20px;
}

.modal__header-title {
  margin-top: 0px;
}

.modal__header-close-button {
  max-width: 20px;
  width: 100%;
  border: none;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  width: 20px;
  height: 20px;
  background: url(../../images/closebutton.png) no-repeat;
  background-size: contain;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__button-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.modal__button {
  text-decoration: none;
  background-color: #00000080;
  color: #ffffff;
  font-weight: 500;
  border: none;
  font-family: CabinetGrotesk, serif;
  font-size: 16px;
  padding: 8px 16px 8px 16px;
}

.modal__alt-button {
  text-decoration: none;
  border: none;
  color: #00000080;
  background-color: white;
  font-family: CabinetGrotesk, serif;
  font-size: 16px;
  font-weight: 700;
}

.modal__link {
  color: #00000080;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.modal__text-inputs {
  display: flex;
}
