@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../fonts/fonts/CabinetGrotesk-Medium.woff") format("woff");
}

.card__item {
  position: relative;
  max-width: 325px;
  width: 100%;
}

.card__info {
  display: flex;
  gap: 20px;
  left: 65px;
  max-width: 119px;
  position: absolute;
  top: 33px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card__image {
  max-width: 328px;
  height: 328px;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #80808045;
}

.card__name {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #ffffff;
  margin: 0px;
}

.card__section {
  margin-top: 20px;
}

.card__section-title {
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.card__items {
  display: grid;
  gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card__like-btn_visible {
  visibility: visible;
}

.card__like-btn_hidden {
  visibility: hidden;
}
