.weather__info {
  position: relative;
  height: 80px;
}

.weather__info-image {
  width: 100%;
  height: 100%;
}

.weather__info-temp {
  position: absolute;
  font-size: 36px;
  top: 15px;
  left: 15px;
  color: white;
}
