.weather__info {
  position: relative;
  height: 80px;
  background-color: #00a3ff;
  border-radius: 10px;
}

.weather__info-image {
  position: absolute;
  bottom: -10px;
  right: 15px;
}

.weather__info-temp {
  position: absolute;
  font-size: 36px;
  top: 15px;
  left: 15px;
  color: white;
}
