.header {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
  padding: 0 20px;
  font-weight: 700;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__name {
  text-decoration: none;
  color: #000;
}

.header__avatar-image {
  max-width: 56px;
  width: 100%;
  border-radius: 50%;
}

.header__btn {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  border: none;
  background: white;
  font-family: CabinetGrotesk, serif;
  font-size: 20px;
  border-radius: 10px;
}

.header__date {
  color: #000;
  font-weight: 700;
}

.header__avatar-default {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* .header__signup-btn {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  border: none;
  background: white;
} */
