.header {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
  padding: 0 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__avatar-image {
  padding-left: 60px;
}

.header__btn {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  border: none;
  background: white;
  font-family: CabinetGrotesk, serif;
}

.header__date {
  color: #000;
  font-weight: 700;
}

/* .header__signup-btn {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  border: none;
  background: white;
} */
