.sidebar__user-info-container {
  display: flex;
  flex-direction: column;
  font-family: "CabinetGrotesk-bold";
}

.sidebar__profile-info-container {
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: black;
}

.profile__sidebar-button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__sidebar-button {
  text-decoration: none;
}

.profile__sidebar-button {
  border: none;
  background-color: white;
}

.sidebar__profile-info {
  text-decoration: none;
  color: #000000;
}
