body {
  margin: 0;
  font-family: CabinetGrotesk, serif;
  font-size: 20px;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: local("CabinetGrotesk"),
    url(./fonts/fonts/CabinetGrotesk-Regular.woff) format("woff");
}

@font-face {
  font-family: "CabinetGrotesk-bold";
  src: local("CabinetGrotesk"),
    url(./fonts/fonts/CabinetGrotesk-Bold.woff2) format("woff");
}
